{{#each this}}   
    <li class="card-title">
        <img src="{{flags.svg}}" alt="flag of {{fifa}}" class="card-image">
        <h2 class="card-name--list">{{name.official}}</h2>
    </li>
{{/each}}